@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mud</title>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Mud.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/phaser@4.0.0-rc.6/dist/phaser.min.js"></script>
    <script src="phaser-renderer.js"></script>
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Mud.Client.Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
